/* Ensure Breadcrumb adjusts with Sidebar */
.breadcrumb {
  margin-left: 70px;
  background-color: #a83939;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: margin-left 0.3s ease;
}

.sidebar:hover + .breadcrumb {
  margin-left: 210px;
}