.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination span {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
}

.pagination span.active {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}