/* Sidebar mặc định thu nhỏ */
.sidebar {
  width: 60px; /* Chiều rộng thu nhỏ */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #2C3E50;
  color: white;
  padding: 15px 0; /* Giảm padding để phù hợp với kích thước nhỏ */
  overflow-y: auto;
  z-index: 1000;
  transition: width 0.3s ease; /* Hiệu ứng chuyển đổi kích thước */
}

/* Sidebar phóng to khi hover */
.sidebar:hover {
  width: 220px; /* Chiều rộng khi phóng to */
}

.content {
  margin-left: 220px; /* Đẩy nội dung sang phải để không bị che */
  transition: margin-left 0.3s ease;
}

/* Danh sách các mục trong Sidebar */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #34495E;
  color: white;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.sidebar ul li.active {
  background-color: #E74C3C;
}

.sidebar ul li:hover {
  background-color: #1ABC9C;
}

/* Sidebar submenu */
.sidebar .parent {
  cursor: pointer;
}

.sidebar .submenu {
  display: none;
  position: relative;
  background-color: #34495E;
  padding: 10px;
  list-style: none;
  margin-top: 10px;
  border-radius: 5px;
  
}
.submenu li:hover {
  color: #8f3232;
}

.sidebar .parent:hover .submenu {
  display: block;
}

.sidebar:hover + footer {
  left: 220px; /* Điều chỉnh khoảng cách khi sidebar phóng to */
  width: calc(100% - 220px); /* Điều chỉnh chiều rộng */
}